{% extends "admin/master.html" %}

{% import "admin/lib.html" as lib with context
 %}

{% from "admin/lib.html" import extra with context %} {# backward compatible
#}

{% from "custom_admin/macros/set_recording_rows.html" import recording_path_row %}
{% from "custom_admin/macros/send_to_opencast.html" import sent_to_opencast_steps_row with context %}
{% from "custom_admin/macros/opencast_rows.html" import media_package_generated_status_row, opencast_ready_for_cutting_row, opencast_processing_finished_row with context %}
{% from
"custom_admin/macros/opencast_acls_rows.html" import
opencast_acls_requested_row, opencast_acls_finished_row with context %}
{% from
"custom_admin/macros/snow_rows.html" import is_snow_ticket_generated_row %}
{%
from "custom_admin/macros/agreement_rows.html" import e_agreement_status_row %}
{% from "custom_admin/macros/cds_rows.html" import requested_cds_record_row,
is_cds_record_set_row, publish_cds_link_indico_row, request_cds_subformats_row
with context %}
{% from "custom_admin/macros/postprocessing_type_rows.html"
import postprocessing_type_row %}
{% from
"custom_admin/macros/publish_video_player_link_indico.html" import
publish_video_player_link_indico_row with context %}
{% from
"custom_admin/macros/transcription_rows.html" import
requested_transcription_row, do_not_transcribe_row, opencast_transcription_update_row with context %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/my_flask_admin.css', _external=True) }}"/>
    {{ lib.form_css() }}
{% endblock head %}
{% block body %}
    {% block navlinks %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{{ return_url }}" class="nav-link">{{ _gettext('List') }}</a>
            </li>
            {%- if admin_view.can_create -%}
                <li class="nav-item">
                <a href="{{ get_url('.create_view', url=return_url) }}" class="nav-link">{{ _gettext('Create') }}</a
                >
            </li>
        {%- endif -%}
        <li class="nav-item">
            <a class="nav-link active">{{ _gettext('Edit') }}</a>
        </li>
        {%- if admin_view.can_view_details -%}
            <li class="nav-item">
            <a class="nav-link"
               href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Details') }}</a
            >
        </li>
    {%- endif -%}
</ul>
{% endblock navlinks %}
{% block edit_form %}
    <div class="small-content">
        <h3 class="mt-3">
            Contribution {{ model.contribution_id }}
            <small class="text-muted">({{ model.title }})</small>
        </h3>
        <div class="row mb-3">
            <div class="col-sm">
                <a href="{{ url_for('indicoevent.edit_view', id=model.indico_event.id) }}"
                   title="Event {{ model.indico_event.id }}">
                    <i class="fa fa-edit"></i> Edit parent event {{
                model.indico_event.indico_id }}</a
                >
                -
                <a href="https://indico.cern.ch/event/{{ model.indico_event.indico_id }}/"
                   title="Indico event {{ model.indico_event.indico_id }}"><i class="fa fa-eye"></i> View event {{ model.indico_event.indico_id }}
            on Indico</a
            >
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- djlint:off -->
            <table class="table" style="border: 2px solid #dee2e6"><!-- djlint:on -->
            <thead>
                <tr class="table-secondary">
                    <th>#</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Execution datetime</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {# Recording path row #}
                {{ recording_path_row(model, contribution_id_form, "1") }}
                {{ postprocessing_type_row(model, set_postprocessing_type_form, "2") }}
                {{ do_not_transcribe_row(model, set_do_not_transcribe_form, "3")}}
                {# SNOW row #}
                {{ is_snow_ticket_generated_row(model, contribution_id_form, "3") }}
                {# Opencast related rows #}
                {{ sent_to_opencast_steps_row(model, send_to_opencast_form, "4") }}
                {{ opencast_ready_for_cutting_row(model, "4.a") }}
                {{ opencast_processing_finished_row(model, contribution_id_form, "4.b") }}
                {# Agreement status rows #}
                {{ e_agreement_status_row(model, contribution_id_form, "5") }}
                {# ACls export #}
                {{ opencast_acls_requested_row(model, contribution_id_form, "6") }} {{
                opencast_acls_finished_row(model, video_player_link, "6.a") }} {{
                requested_transcription_row(model, contribution_id_form, "7") }} {{
                opencast_transcription_update_row(model, contribution_id_form, "7.a")
                }} {# CDS related rows #} {{ requested_cds_record_row(model,
                contribution_id_form, "8") }} {{ is_cds_record_set_row(model, cds_url,
                "8.a") }} {{ request_cds_subformats_row(model, contribution_id_form,
                "9") }} {{ publish_cds_link_indico_row(model,
                publish_cds_link_indico_form, "10") }}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div class="alert alert-secondary">
            <h6>
                <i class="fa fa-info"></i> Help
            </h6>
            When changes to any of the contribution's attributes are made (title,
            split time, etc), you will need to send it to Opencast again so changes
            appear on the final location.
        </div>
        {{ publish_video_player_link_indico_row(model, contribution_id_form) }}
    </div>
</div>
{{ lib.render_form(form, return_url, extra(), form_opts) }}
</div>
{% endblock edit_form %}
{% endblock body %}
{% block tail %}
    {{ super() }} {{ lib.form_js()
    }}
{% endblock tail %}
