{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% from "custom_admin/macros/table_status_column.html" import table_status_column %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_flask_admin.css', _external=True) }}"/>
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    {% block navlinks %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{{ return_url }}" class="nav-link">{{ _gettext('List') }}</a>
            </li>
            {%- if admin_view.can_create -%}
                <li class="nav-item">
                    <a href="{{ get_url('.create_view', url=return_url) }}"
                       class="nav-link">{{ _gettext('Create') }}</a>
                </li>
            {%- endif -%}
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link active">{{ _gettext('Edit') }}</a>
            </li>
            {%- if admin_view.can_view_details -%}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Details') }}</a>
                </li>
            {%- endif -%}
        </ul>
    {% endblock %}

    {% block edit_form %}
        <div class="small-content mt-2">
            <h2>Event {{ model.indico_id }}</h2>

            <div class="row mb-3 inline">
                {% include 'custom_admin/event_parts/create_folders_form.html' %}
                {% include 'custom_admin/event_parts/create_splits_form.html' %}

                <a href="https://indico.cern.ch/event/{{ model.indico_id }}/"
                   title="Indico event {{ model.indico_id }}"><i class="fa fa-eye"></i> View
                    event {{ model.indico_id }} on Indico</a>
            </div>

            <div class="table-responsive mt-2">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Cam/Slides</th>
                        <th>Contribution</th>
                        <th>Status</th>
                        <th>Start date time</th>
                        <th>Admin Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contribution in contributions|sort(attribute='start_date_time') %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ contribution.contribution_id }}</td>
                            <td>
                                {% if contribution.has_camera_file %}
                                    <i title='Camera file found' class='fas fa-video' style='color:#4caf50'></i>
                                {% endif %}
                                {% if contribution.has_slides_file %}
                                    <i title='Slides file found' class='fas fa-film'
                                       style='color:#4caf50'></i>
                                {% endif %}
                            </td>
                            <td>{{ contribution.title }}
                            </td>
                            <td class="w-40">
                                {{ table_status_column(contribution) }}
                            </td>
                            <td>{{ contribution.start_date_time }}</td>
                            <td><a href="/admin/indicoeventcontribution/edit/?id={{ contribution.id }}"
                                   title="Go to contribution {{ contribution.id }}">
                                Go to contribution</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>

                    </tfoot>

                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ lib.render_form(form, return_url, extra(), form_opts) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
    <script src="{{ url_for('static', filename='js/ajax_actions/create_splits.js') }}"></script>

{% endblock %}