<div class="inline">
  <div class="col">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#create-splits-modal"
    >
      <i class="fa fa-folder-plus"></i> Create splits
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="create-splits-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Set the splits for this event and contributions
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive mt-2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Contribution</th>
                  <th>Start time</th>
                  <th>Camera start/end</th>
                  <th>Slides start/end</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contribution in
                contributions|sort(attribute='start_date_time') %} {{
                create_folders_form.csrf_token }}
                <tr>
                  <th>{{ loop.index }}</th>
                  <td>
                    <strong>{{ contribution.title }}</strong><br />
                    <span class="font-weight-light"
                      >{{ contribution.contribution_id }}</span
                    >
                  </td>
                  <td>{{ contribution.start_date_time }}</td>
                  <td>
                    <div class="form-group">
                    <label for="camera_start_time_{{contribution.id }}">Camera start:</label>
                      <input class="form-control" maxlength="255"
                      name="camera_start_time_{{ contribution.id }}"
                      id="camera_start_time_{{ contribution.id }}"
                      pattern="^([0-9]?\d|2[0-9])(?::([0-9]?\d))?(?::([0-9]?\d))?$"
                      placeholder="hh:mm:ss" title="Input format must be
                      HH:mm:ss" type="text" value="{{
                      contribution.camera_start_time if
                      contribution.camera_start_time else "" }}">
                      <div
                        id="camera_start_time_{{ contribution.id }}_message"
                        style="color: red"
                      ></div>
                    </div>
                    <div class="form-group">
                    <label for="camera_end_time_{{ contribution.id }}">Camera
                      end:</label>
                      <input class="form-control" maxlength="255"
                      name="camera_end_time_{{ contribution.id }}"
                      id="camera_end_time_{{ contribution.id }}"
                      pattern="^([0-9]?\d|2[0-9])(?::([0-9]?\d))?(?::([0-9]?\d))?$"
                      placeholder="hh:mm:ss" title="Input format must be
                      HH:mm:ss" type="text" value="{{
                      contribution.camera_end_time if
                      contribution.camera_end_time else "" }}">
                      <div
                        id="camera_end_time_{{ contribution.id }}_message"
                        style="color: red"
                      ></div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                    <label for="slides_start_time_{{ contribution.id }}">Slides start:</label>
                      <input class="form-control" maxlength="255"
                      name="slides_start_time_{{ contribution.id }}"
                      id="slides_start_time_{{ contribution.id }}"
                      pattern="^([0-9]?\d|2[0-9])(?::([0-9]?\d))?(?::([0-9]?\d))?$"
                      placeholder="hh:mm:ss" title="Input format must be
                      HH:mm:ss" type="text" value="{{
                      contribution.slides_start_time if
                      contribution.slides_start_time else "" }}">
                      <div
                        id="slides_start_time_{{ contribution.id }}_message"
                        style="color: red"
                      ></div>
                    </div>
                    <div class="form-group">
                      <label for="slides_end_time_{{ contribution.id }}">
                        Slides end:</label
                      ><input class="form-control" maxlength="255"
                      name="slides_end_time_{{ contribution.id }}"
                      id="slides_end_time_{{ contribution.id }}"
                      pattern="^([0-9]?\d|2[0-9])(?::([0-9]?\d))?(?::([0-9]?\d))?$"
                      title="Input format must be HH:mm:ss" type="text"
                      value="{{ contribution.slides_end_time if
                      contribution.slides_end_time else "" }}">
                      <div
                        id="slides_end_time_{{ contribution.id }}_message"
                        style="color: red"
                      ></div>
                    </div>
                  </td>
                  <td>
                    <button
                      class="btn btn-primary"
                      type="button"
                      id="submit_{{ contribution.id }}"
                      onclick="submitSplitForm('{{ contribution.id }}')"
                    >
                      Save
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
