<div class="inline">
  <div class="col">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#create-folders-modal"
    >
      <i class="fa fa-folder-plus"></i> Create event's folders
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="create-folders-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form
          action="{{ url_for('custom_admin.admin_actions.actions_blueprint.create_event_folders_view', event_id=model.id) }}"
          method="post"
        >
          {{ create_folders_form.csrf_token }}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Create folders for event and contributions
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Create a folder for the event and each of it's contributions on
              the room's recording path.
            </p>
            <p class="alert alert-warning">
              <i class="fa fa-info-circle"></i> Be aware that these folders are
              only needed if you need to put the files on the "cernmedia" SMB
              servers. In case you are using a https link, just provide the link
              address on the contribution's recording path.
            </p>

            <p class="alert alert-warning">
              <i class="fa fa-info-circle"></i> If you used the Stop button,
              this is not needed since recording path is set and folders are
              created automatically
            </p>

            {% if model.room and model.room.supported %} {% if
            model.room.room_encoders|length>0 %}
            <p>
              <strong
                >Current room ({{ model.room.indico_name }}) is
                supported</strong
              >.
            </p>
            <div class="form-group">
              <label for="recording_path"> The recording path will be: </label>
              <select
                class="custom-select"
                name="recording_path"
                id="recording_path"
                style="font-size: 0.9rem"
              >
                {% for room_encoder in
                model.room.room_encoders|sort(attribute="name", reverse=True) %}
                <option value="{{ room_encoder.recording_path }}">
                  {{room_encoder.name}}: {{ room_encoder.recording_path }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% else %}
            <p>
              <strong
                >Current room ({{ model.room.indico_name }}) doesn't have any
                encoders set</strong
              >, but it is supported.
            </p>
            <p class="alert alert-danger">
              <i class="fa fa-info"></i> Set the room encoders of this room
              first.
            </p>
            {% endif %} {% else %}
            <div class="form-group">
              {% if model.room %}
              <strong
                >Current room ({{ model.room.indico_name }}) is NOT
                supported</strong
              >. {% else %} <strong>No room set</strong>. {% endif %}
              <label for="recording_path">The recording path will be:</label>
              <input
                type="text"
                class="form-control"
                value="{{ default_recording_path }}"
                name="recording_path"
                id="recording_path"
              />
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            {% if model.room and model.room.supported and
            model.room.room_encoders|length<=0 %} {% set disabled ="disabled" %}
            {% else %} {% set disabled ="" %} {%endif%}

            <button type="submit" class="btn btn-primary" {{disabled}}>
              Confirm creation
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
