<footer class="bg-dark text-white text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Recordings Manager (CES)</h5>
                <p>CES is an application that manages the recordings that take place in the CERN rooms.</p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                {#                <h5 class="text-uppercase mb-0">Links</h5>#}
                {##}
                {#                <ul class="list-unstyled">#}
                {#                    <li>#}
                {#                        <a href="#!" class="text-light">Link 1</a>#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        <a href="#!" class="text-light">Link 2</a>#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        <a href="#!" class="text-light">Link 3</a>#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        <a href="#!" class="text-light">Link 4</a>#}
                {#                    </li>#}
                {#                </ul>#}
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/api/v1/" title="API Docs" class="text-light">API Docs</a>
                    </li>
                    <li>
                        <a href="https://dev-documentation.web.cern.ch/opsdoc/Webcast-and-Recording/CES2/"
                           title="Documentation"
                           class="text-light">Documentation</a>
                    </li>
                    <li>
                        <a href="https://monit-timber-webcast.cern.ch/kibana_rw/app/kibana#/dashboard/2828bbe0-9de2-11eb-af41-7b2552ec0c17"
                           title="Kibana Monitoring Dashboard (Central)"
                           class="text-light">Central Monitoring</a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="#!" class="text-light">Link 4</a>#}
                    {#                    </li>#}
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        CES {{ app_version }} © 2021 Copyright:
        <a class="text-light" href="https://home.cern">CERN</a> - IT-CA-CTE - Weblecture Service
    </div>
    <!-- Copyright -->
</footer>
