{% extends "dashboard2/layout.html" %}
{% block main_content %}
    <div class="row">
        <div class="col">
            <h2>
                Recordings Manager
                <small>Dashboard</small>
            </h2>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    <div class="row mt-3">
        <div class="col">
            <div class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 id="fetch-single-event">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Fetch single event from Indico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="modal-message">Fetch an event from Indico by it's ID</p>
                            <form action="{{ url_for("dashboard2.blueprints.fetch_single_event") }}"
                                  method="post">
                                {{ fetch_single_event_form.csrf_token }}
                                <div class="form-group">
                                    <label for="indico_id">Indico ID:</label>
                                    <input class="form-control" type="text" id="indico_id" name="indico_id">
                                </div>
                                <div class="form-group">
                                    <label for="event_type">Event's type:</label>
                                    <select class="form-control" id="event_type" name="event_type">
                                        <option value="recording">Recording</option>
                                        <option value="webcast_recording">Webcast + Recording</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="audience">Audience:</label>
                                    <select class="form-control" id="audience" name="audience">
                                        <option value="PUBLIC">PUBLIC</option>
                                        <option value="ATLAS">ATLAS</option>
                                        <option value="CMS">CMS</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Event fetching</h3>
            <p>
                Here you can fetch events from Indico. You can fetch all events of the next 15 days or a single event by
                it's ID.
            </p>
            <h4>When to fetch an event?</h4>
            <p>
                You should fetch an event from Indico when it is not in the database yet.
                The event will be created in the database and you will be able to manage it from the Recordings Manager.
            </p>
            <div class="row g-3">
                <div class="col-auto" style="padding-left: 0;">
                    <form action="{{ url_for("dashboard2.blueprints.fetch_events") }}"
                          method="post">
                        <div class="col-auto">
                            {{ fetch_events_form.csrf_token }}
                            <button type="submit"
                                    class="btn btn-secondary pull-right"
                                    onclick="modal('Fetching Indico events. Please wait...');">
                                <i class="fa fa-refresh"></i>
                                Fetch events from Indico
                            </button>
                            <i class="fa fa-question-circle"
                               title="Fetch events of the next 15 days"></i>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-3">
                        <button id="btn_ne_get_event"
                                class="btn btn-outline-secondary"
                                data-toggle="modal"
                                data-target="#fetch-single-event">
                            <i class="fa fa-download"></i>
                            Get from Indico
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
{% block extra_javascripts %}
    <script>
        function modal(message) {
            $('#modal-message').text(message);
            $('#spinnerModal').modal('show');
        }
    </script>
{% endblock extra_javascripts %}
