{% set active_page = active_page|default('rooms') -%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control"
              content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="CERN Webcast Team">
        <title>Recordings Manager - {{ is_dev }}</title>
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='images/favicon.png') }}" />
        <link href="{{ url_for('static', filename='css/dashboard2/video-js.css') }}"
              rel="stylesheet" />
        <link href="//fonts.googleapis.com/css?family=Open+Sans"
              rel="stylesheet"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/dashboard2/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
              crossorigin="anonymous" />
        <script src="https://kit.fontawesome.com/ef53bedaf3.js"
                crossorigin="anonymous"></script>
        <link href="{{ url_for('static', filename='css/dashboard2/dashboard.css') }}"
              rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ "/" }}">Recordings Manager</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" target="_blank"><i class="fa fa-gear"></i> Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/v1/" title="API"><i class="fa fa-book"></i> API</a>
                        </li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}
                    <div class="pull-right">
                        <ul class="navbar-nav mr-auto">
                            {% if current_user.is_admin %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-user"></i> {{ current_user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" title="Logout"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container mt-3">
            {% if is_dev %}
                <div id="test-instance">
                    <div class="alert alert-warning" role="alert">
                        <i class="fa fa-warning"></i> THIS IS A TEST/DEV INSTANCE
                    </div>
                </div>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class=flashes>
                        {% for category, message in messages %}
                            {% if category == "success" %}
                                {% set icon = "check" %}
                                {% set cat = "success" %}
                            {% elif category == "error" %}
                                {% set icon = "warning" %}
                                {% set cat = "danger" %}
                            {% else %}
                                {% set icon = "warning" %}
                                {% set cat = "warning" %}
                            {% endif %}
                            <div class="alert alert-{{ cat }}" role="alert">
                                <i class="fa fa-{{ icon }}"></i> {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block main_content %}{% endblock %}
        </div>

        {% include 'parts/footer.html' %}
        <script src="{{ url_for('static', filename='js/dashboard2/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dashboard2/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
        {% block extra_javascripts %}{% endblock %}
        <!-- Matomo -->
        {% if not is_dev %}
            <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://webanalytics.web.cern.ch/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '21']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
            </script>
            <!-- End Matomo Code -->
        {% endif %}
    </body>
</html>
