<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Loading...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                    <p id="modal-message"></p>
                    <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
                </div>
            </div>
        </div>
    </div>
</div>