{% macro e_agreement_status_row(model, contribution_id_form, position) %}
    {% if model.e_agreement_status == "ACCEPTED" or model.e_agreement_status == 'FORCED' %}
        {% set label = 'success' %}
    {% elif model.e_agreement_status == "DECLINED" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'warning' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td><strong>Fetch E-Agreement</strong> (<a
                href="https://indico.cern.ch/event/{{ model.indico_event.indico_id }}/manage/agreements/cern-speaker-release/"
                title="Indico eagreements link">Indico link</a>) <i class="fa fa-robot" title="Automatic step"></i>
        </td>

        <td>
            <span class="badge badge-{{ label }}">{{ model.e_agreement_status }}</span>
        </td>
        <td>{%- if model.e_agreement_status_date %}{{ model.e_agreement_status_date.strftime('%d-%m-%Y
                %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form class="form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.fetch_speaker_release_view") }}"
                  style="display: inline">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button type="submit"
                        class="btn btn-primary btn-sm custom-xs-button"
                        title="Fetch e-agreement"
                ><i class="fa fa-download"></i>
                </button>
            </form>
        </td>
    </tr>
    <tr class="table-{{ label }}">
        <td class="text-right" colspan="5" style=" border-top: 0;">
            <form class="form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.send_agreement_reminder_view") }}"
                  style="display: inline">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button {{ "" if can_fetch_agreement else "" }}
                        type="submit"
                        title="Send email reminder to {{ model.indico_event.creator_email }} (Event creator)"
                        class="btn btn-secondary btn-sm custom-xs-button"
                ><i class="fa fa-envelope"></i>
                </button>
            </form>
            <form class="form-inline" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.force_eagreement") }}"
                  style="display: inline">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}

                <button
                        {{ "disabled" if model.e_agreement_status == 'ACCEPTED' or model.e_agreement_status == 'DECLINED'
                        else "" }}
                        type="submit"
                        title="Force as accepted even if the speakers didn't sign"
                        class="btn
                            btn-secondary
                            btn-sm custom-xs-button"
                ><i class="fa fa-fist-raised"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}
