{% macro requested_cds_record_row(model, contribution_id_form, position) %}

    {% if model.is_cds_record_requested_status == "OK" %}
        {% set label = 'success' %}
    {% elif model.is_cds_record_requested_status == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}

    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span></td>

    <td><strong>Request CDS Record</strong></td>
        <td class="table-{{ label }}"><span class="badge badge-{{ label }}"
                  title="{{ model.is_cds_record_requested_last_report }}">{% if model.is_cds_record_requested_status %}
            {{ model.is_cds_record_requested_status }}{% else %}-{% endif %}</span>

        <td>{%- if model.is_cds_record_requested_date %}{{ model.is_cds_record_requested_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form id="contact-form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.create_cds_record") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button {{ "" if model.can_request_cds_record else "disabled" }} type="submit"
                               class="btn btn-primary btn-sm"
                ><i class="fa fa-plus-circle"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}


{% macro request_cds_subformats_row(model, contribution_id_form, position) %}

    {% if model.is_cds_subformats_requested_status == "OK" %}
        {% set label = 'success' %}
    {% elif model.is_cds_subformats_requested_status == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}

    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span></td>
        <td><strong>Request CDS Subformats</strong> <i class="fa fa-robot" title="Automatic step"></i></td>
        <td><span class="badge badge-{{ label }}"
                  title="{{ model.is_cds_subformats_requested_last_report }}">{% if model.is_cds_subformats_requested_status %}
            {{ model.is_cds_subformats_requested_status }}{% else %}-{% endif %}</span>

        <td>{%- if model.is_cds_subformats_requested_date %}{{ model.is_cds_subformats_requested_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form id="contact-form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.create_cds_subformats") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button {{ "" if model.can_request_cds_subformats else "disabled" }} type="submit"
                                                                            class="btn btn-primary btn-sm"
                                                                            title="Request CDS subformats"
                ><i class="fa fa-wrench"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}


{% macro is_cds_record_set_row(model, cds_url, position) %}
    {% if model.is_cds_record_set_prop %}
        {% set label = 'success' %}
    {% else %}
        {% set label = '' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td></td>
        <td><span class="badge badge-light badge-pill">{{ position }}</span> <strong>CDS Record creation </strong> {%- if model.is_cds_record_set_prop %}(
            <a href="{{ cds_url }}/record/{{ model.cds_record }}"
               title="CDS record {{ model.cds_record }}">{{ model.cds_record }}</a>){% endif %}
        <i class="fa fa-robot" title="Automatic step"></i>
        </td>
        <td>{%- if model.is_cds_record_set_prop %} <span class="badge badge-success">OK</span> {% else %}
            <span class='badge badge-light'>-</span> {% endif %}</td>
        <td>{%- if model.is_cds_record_set_date %}{{ model.is_cds_record_set_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td>
        </td>
    </tr>
{% endmacro %}

{% macro publish_cds_link_indico_row(model, publish_cds_link_indico_form, position) %}
    {% if model.is_cds_link_published %}
        {% set label = 'success' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span></td>
        <td>
            <div><strong>Publish CDS Link on Indico</strong></div>
            {% if is_dev %}
                <br/><i class="fa fa-warning text-warning"></i> <u>CES is in DEV
                mode</u>. On this mode, the CDS link
                is not published on Indico automatically.
            {% endif %}
        </td>
        <td>{%- if model.is_cds_link_published %}
            <span class="badge badge-success">OK</span> {% else %}
            <span class='badge badge-light'>-</span> {% endif %}
        </td>
        <td>{%- if model.is_cds_link_published_date %}{{ model.is_cds_link_published_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
                    <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="contact-form" method="POST"
                              action="{{ url_for("custom_admin.admin_actions.actions_blueprint.add_cds_link_to_indico_view") }}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Publish CDS Link on Indico</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>The link to the CDS record will be published on Indico for this event:</p>
                                <ul>
                                    <li><strong>Event title:</strong> {{ model.title }}</li>
                                    <li><strong>Indico ID:</strong> {{ model.contribution_id }}</li>
                                </ul>
                                <p>Do you want to proceed? {% if is_dev %}<u>DEV mode is enabled</u>{% endif %}</p>

                                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                                <input name="force" type="hidden" value="true"/>
                                {{ publish_cds_link_indico_form.csrf_token }}

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button
                                        id="btn_add_cds_link_to_indico_{{ model.id }}"
                                        class="btn btn-primary"
                                        type="submit">Publish on Indico
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
        <td class="text-right">
            <button
                    {{ "" if model.can_publish_cds_link_to_indico else "disabled" }}
                    id="btn_add_cds_link_to_indico_{{ model.id }}"
                    class="btn btn-primary btn-sm custom-xs-button"
                    data-toggle="modal" data-target="#exampleModal"
                    title="Publish CDS link to Indico"
            ><i class="fa fa-upload"></i>
            </button>
        </td>
    </tr>
{% endmacro %}
