{% macro opencast_processing_finished_row(model, contribution_id_form, position) %}
    {% if model.opencast_processing_status == "WAITING" %}
        {% set label = 'warning' %}
    {% elif model.opencast_processing_status == "OK" %}
        {% set label = 'success' %}
    {% elif model.opencast_processing_status == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}

    {% if model.opencast_processing_status == "ERROR" %}
        {% set table_label = 'danger' %}
    {% elif model.opencast_processing_status == "OK" %}
        {% set table_label = 'success' %}
    {% else %}
        {% set table_label = 'secondary' %}
    {% endif %}

    <tr class="table-{{ label }}">
        <td></td>
        <td><span class="badge badge-light badge-pill">{{ position }}</span> <strong>Opencast processing
            status</strong> <i class="fa fa-robot" title="Automatic step"></i></td>
        <td>
            <span class="badge badge-{{ label }}">
                {% if model.opencast_processing_status == None %}
                    -
                {% else %}
                    {{ model.opencast_processing_status }}
                {% endif %}
            </span>
        </td>
        <td>{%- if model.opencast_processing_finished_date %}{{ model.opencast_processing_finished_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form class="form-inline" id="contact-form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.force_as_processed") }}"
                  style="display: inline">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button
                        type="submit"
                        id="btn_force_as_processed_{{ model.id }}"
                        class="btn btn-secondary btn-sm custom-xs-button"
                        title="Force the Opencast Status as processed"
                >
                    <i class="fa fa-fist-raised"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}


{% macro opencast_ready_for_cutting_row(model, position) %}

    {% if model.opencast_ready_for_cutting_status == "WAITING" %}
        {% set label = 'warning' %}
    {% endif %}

    {% if model.opencast_ready_for_cutting %}
        {% set label = 'success' %}
    {% else %}
        {% set label = '' %}
    {% endif %}

    <tr class="table-{{ label }}">
        <td></td>
        <td><span class="badge badge-light badge-pill">{{ position }}</span> <strong>The contribution is
            ready for cutting on Opencast</strong>
        </td>
        <td>{%- if model.opencast_ready_for_cutting %}
            <span class="badge badge-success">OK</span> {% else %}
            {% if model.opencast_ready_for_cutting_status == "WAITING" %}
                <span class="badge badge-warning">
                    {{ model.opencast_ready_for_cutting_status }}</span>
            {% else %}
                <span class="badge badge-light">-</span>
            {% endif %}
        {% endif %}</td>
        <td>{%- if model.opencast_ready_for_cutting_date %}{{ model.opencast_ready_for_cutting_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td>
        </td>
    </tr>
{% endmacro %}
