{% macro opencast_acls_requested_row(model, contribution_id_form, position) %}
    {% if model.opencast_acls_requested_status == "OK" %}
        {% set label = 'success' %}
    {% elif model.opencast_acls_requested_status == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = '' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span></td>
        <td><strong>Update Opencast ACLs</strong> <i class="fa fa-robot" title="Automatic step"></i></td>
        <td><span class="badge badge-{{ label }}"
                  title="{{ model.opencast_acls_requested_last_report }}">{% if model.opencast_acls_requested_status %}
            {{ model.is_cds_record_requested_status }}{% else %}-{% endif %}</span>
        </td>
        <td>{%- if model.opencast_acls_requested_date %}{{ model.opencast_acls_requested_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form id="contact-form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.request_acls_update_opencast") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button type="submit"
                        {{ "" if model.can_regenerate_acls else "disabled" }}
                        class="btn btn-primary btn-sm btn_request_acls_update_opencast_{{ model.id }} btn_generate_metadata custom-xs-button"
                        title="Update Opencast ACLs"
                ><i class="fa fa-upload"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}

{% macro opencast_acls_finished_row(model, video_player_link, position) %}
    {% if model.opencast_acls_finished %}
        {% set label = 'success' %}
    {% else %}
        {% set label = '' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <th></th>
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span> <strong>Opencast ACLs status</strong> <i
                class="fa fa-robot" title="Automatic step"></i>
            {% if model.opencast_acls_finished %}(<a href="{{ video_player_link }}" title="Watch the generated video(s)">Watch
                    the generated video(s)</a>){% endif %}
        </td>
        <td>{%- if model.opencast_acls_finished %} <span class="badge badge-success">OK</span> {% else %}
            <span class="badge badge-light">-</span> {% endif %}</td>
        <td>{%- if model.opencast_acls_finished_date %}{{ model.opencast_acls_finished_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td>
        </td>
    </tr>
{% endmacro %}