{% macro postprocessing_type_row(model, set_postprocessing_type_form, position) -%}
    {% if model.postprocessing_type == '' or model.postprocessing_type == None %}
        {% set label = '' %}
        {% set value = 'web_lecture' %}
        {% set title = 'Web Lecture' %}
    {% else %}
        {% set label = 'success' %}
    {% endif %}
    {% if model.postprocessing_type == 'web_lecture' %}
        {% set current_value = 'Web Lecture' %}
        {% set description = '(2 videos)' %}
        {% set value = 'plain_video' %}
        {% set title = 'Plain Video' %}
    {% elif model.postprocessing_type == 'plain_video' %}
        {% set current_value = 'Plain Video' %}
        {% set description = '(1 video)' %}
        {% set value = 'web_lecture' %}
        {% set title = 'Web Lecture' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td style="max-width:400px">
            <strong>Postprocessing type</strong>
            {%- if model.postprocessing_type != '' and model.postprocessing_type != None %}
                : <span class="badge badge-secondary" style="font-size: 1em">{{ current_value }}</span> {{ description }}
            {% endif %}
            {% if model.has_camera_file or model.has_slides_file %}<br/>{% endif %}
            {% if model.has_camera_file %}<i title="Camera file found" class="fas fa-video" style="color:#4caf50"></i>{% endif %}
            {% if model.has_slides_file %}<i title="Slides file found" class="fas fa-film" style="color:#4caf50"></i>{% endif %}
        </td>
        <td>
            {%- if model.postprocessing_type != '' and model.postprocessing_type != None %}
                <span class="badge badge-success">OK</span>
            {% else %}
                <span class="badge badge-light">-</span>
            {% endif %}
        </td>
        <td class="table-{{ label }}">
            {%- if model.postprocessing_type_date %}{{ model.postprocessing_type_date.strftime('%d-%m-%Y
                %H:%M:%S') }}
            {% endif %}
        </td>
        <td class="text-right">
            <form method="post"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.set_postprocessing_type_view") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                <input name="postprocessing_type" type="hidden" value="{{ value }}"/>
                {{ set_postprocessing_type_form.csrf_token }}
                <button class="btn btn-primary btn_generate_metadata btn-sm custom-xs-button"
                        type="submit"
                        title="Change to {{ title }}">
                    <i class="fa fa-toggle-on"></i>
                </button>
            </form>
        </td>
    </tr>
{%- endmacro %}
