{% macro publish_video_player_link_indico_row(model, form) %}
    <div class="alert alert-light" role="alert">
        <form method="POST"
              action="{{ url_for("custom_admin.admin_actions.actions_blueprint.publish_video_player_link_view") }}">
            <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
            {{ form.csrf_token }}
            <button {{ "" if model.opencast_acls_finished else "disabled" }} class="btn btn-primary" type="submit"><i class="fa fa-link"></i> Publish Video Player link on Indico
            </button>
        </form>
    </div>
{% endmacro %}