{% macro sent_to_opencast_steps_row(model, send_to_opencast_form, position) %}
    {#  Label for the opencast ingest  #}
    {% if (
        model.sent_to_opencast_status == "RUNNING"
        or model.sent_to_opencast_status == "REQUESTED"
        or model.sent_to_opencast_status == "PENDING") %}
        {% set label = 'warning' %}
    {% elif model.sent_to_opencast_status == "OK" %}
        {% set label = 'success' %}
    {% elif model.sent_to_opencast_status == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}
    {#  Label for the media package generation  #}
    {% if model.media_package_generated_status == "RUNNING" or model.media_package_generated_status == "PENDING" %}
        {% set media_package_label = 'warning' %}
    {% elif model.media_package_generated_status == "OK" %}
        {% set media_package_label = 'success' %}
    {% elif model.media_package_generated_status == "ERROR" %}
        {% set media_package_label = 'danger' %}
    {% else %}
        {% set media_package_label = 'default' %}
    {% endif %}
    {#  General color for the row  #}
    {% if label == "danger" or media_package_label == 'danger' %}
        {% set main_label = 'danger' %}
    {% elif label == "warning" or media_package_label == 'warning' %}
        {% set main_label = 'warning' %}
    {% elif label == "success" and media_package_label == 'success' %}
        {% set main_label = 'success' %}
    {% else %}
        {% set main_label = 'default' %}
    {% endif %}
    <tr class="table-{{ main_label }}">
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td>
            <strong>Send to Opencast</strong> {%- if model.opencast_uid %}
            {% if model.media_package_generated_status == "OK" or model.media_package_generated_status == "ERROR" %}
                <br/>
                Opencast workflow:
                <a href="{{ opencast_endpoint }}/admin-ng/index.html#!/events/events?modal=event-details&resourceId={{ model.opencast_uid }}"
                   title="Opencast workflow">{{ model.opencast_uid }}</a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        <span class="badge badge-{{ media_package_label }} with-tooltip"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ model.media_package_generated_last_report }}">
            {% if model.media_package_generated_status == None %}
                -
            {% else %}
                {{ model.media_package_generated_status }}
            {% endif %}
        </span>
        <br/>
        <span class="badge badge-{{ label }} with-tooltip"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ model.sent_to_opencast_last_report }}">
            {% if model.sent_to_opencast_status == None %}
                -
            {% else %}
                {{ model.sent_to_opencast_status }}
            {% endif %}
        </span>
    </td>
    <td>
        {%- if model.sent_to_opencast_date %}{{ model.sent_to_opencast_date.strftime('%d-%m-%Y
            %H:%M:%S') }}
        {% endif %}
    </td>
    <td></td>
</tr>
<tr class="table-{{ main_label }}">
    <td colspan="5" class="text-right" style="border-top: 0;">
        <form id="contact-form"
              method="post"
              class="form"
              action="{{ url_for("custom_admin.admin_actions.actions_blueprint.send_to_opencast_view") }}">
            <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
            {{ send_to_opencast_form.csrf_token }}
            <div class="form-check-inline">
                <input class="form-check-input"
                       id="edit_on_opencast"
                       name="edit_on_opencast"
                       type="checkbox"
                       {% if model.edit_on_opencast == True %}checked="checked"{% endif %}
                       value="edit_on_opencast"/>
                <label class="form-check-label">Split on Opencast</label>
            </div>
            <button type="submit" {{"" if model.can_send_to_opencast  else "disabled" }} class="btn btn-primary btn-sm btn_send_to_opencast_{{ model.id }} btn_generate_metadata custom-xs-button" title="Send to Opencast"><i class="fa fa-upload"></i>
        </button>
    </form>
</td>
</tr>
<tr class="table-{{ main_label }}">
    <td class="text-right" colspan="5" style=" border-top: 0;">
        <button type="submit"
                class="btn btn-danger btn-sm"
                data-toggle="modal"
                data-target="#cancel-send-opencast-modal"
                title="Cancel">
            <i class="fa fa-remove"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade text-right"
             id="cancel-send-opencast-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content text-left">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cancel Opencast Ingest</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Clicking in the button below you will do the following things:</p>
                        <ol>
                            <li>Stop the ongoing ingest and the media package generation.</li>
                            <li>Reset ingest and media package states.</li>
                            <li>Enable the media package button.</li>
                            <li>Reset all the Opencast dependent states (processing and ACLs) and the Opencast UID.</li>
                        </ol>
                        <div class="alert alert-info">
                            <i class="fa fa-warning"></i> Beware that if there is an Opencast workflow running, it is
                            recommended to delete it first on Opencast.
                        </div>
                        <form id="cancel-ingest-form"
                              method="post"
                              action="{{ url_for("custom_admin.admin_actions.actions_blueprint.cancel_send_opencast_view") }}">
                            <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                            {{ send_to_opencast_form.csrf_token }}
                            <button type="submit" class="btn btn-danger btn-sm" title="Cancel the ingest">
                                <i class="fa fa-remove"></i> Cancel ingest and reset Opencast states
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endmacro %}
