{% macro recording_path_row(model, contribution_id_form, position) -%}
    {% if model.recording_path == '' or model.recording_path == None %}
        {% set label = '' %}
    {% else %}
        {% set label = 'success' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td style="max-width:400px">
            <strong>Set default recording path</strong> {%- if model.recording_path != '' and model.recording_path != None %}
            <pre title="{{ model.recording_path }}">{{ model.recording_path|truncate(50) }}</pre>
        {% endif %}
    </td>
    <td>
        {%- if model.recording_path != '' and model.recording_path != None %}
            <span class="badge badge-success">OK</span>
        {% else %}
            <span class='badge badge-light'>-</span>
        {% endif %}
    </td>
    <td>
        {%- if model.recording_path_date %}{{ model.recording_path_date.strftime('%d-%m-%Y
            %H:%M:%S') }}
        {% endif %}
    </td>
    <td class="text-right">
        <form method="POST"
              action="{{ url_for("custom_admin.admin_actions.actions_blueprint.set_recording_path_view") }}">
            <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
            {{ contribution_id_form.csrf_token }}
            <button class="btn btn-primary btn_generate_metadata btn-sm custom-xs-button"
                    type="submit"
                    title="Set the recording path to the recording's location">
                <i class="fa fa-wrench"></i>
            </button>
        </form>
    </td>
</tr>
{%- endmacro %}
