{% macro is_snow_ticket_generated_row(model, contribution_id_form, position) %}
    {% if model.is_snow_ticket_generated %}
        {% set label = 'success' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td><span class="badge badge-light badge-pill">{{ position }}</span></td>

        <td><strong>Create SNOW ticket</strong> {%- if model.is_snow_ticket_generated %} (<a
                href="https://cern.service-now.com/nav_to.do?uri=u_request_fulfillment.do?sysparm_query=number={{ model.snow_ticket }}"
                title="Go to the SNOW ticket">{{ model.snow_ticket }}</a>){% endif %}
        </td>
        <td>{%- if model.is_snow_ticket_generated %} <span class="badge badge-success">OK</span> {% else %}
            <span class='badge badge-light'>-</span> {% endif %}
        </td>
        <td>{%- if model.is_snow_ticket_generated_date %}{{ model.is_snow_ticket_generated_date.strftime('%d-%m-%Y
        %H:%M:%S') }}{% endif %}
        </td>
        <td class="text-right">
            <form id="contact-form" method="POST"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.create_snow_ticket_view") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                {{ contribution_id_form.csrf_token }}
                <button
                        {{ "" if model.can_generate_snow_ticket else "disabled" }}
                        id="btn_create_snow_ticket_{{ model.id }}"
                        class="btn btn-primary btn_generate_metadata btn-sm custom-xs-button"
                        type="submit"
                        title="Create SNOW ticket"
                ><i class="fa fa-plus-circle"></i>
                </button>
            </form>
        </td>
    </tr>
{% endmacro %}