{% if contribution.indico_event.is_recorded %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Event is recorded"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Event is recorded"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.postprocessing_type %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="{{ contribution.postprocessing_type }}"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="No postprocessing type"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.snow_ticket %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="SNOW ticket created"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="No SNOW ticket"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.media_package_generated_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Media package generated"><i class="fas fa-check"></i
></span>
{% elif contribution.media_package_generated_status == "RUNNING" %}
<span class="badge badge-warning with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Generating media package"><i class="fas fa-clock"></i
></span>
{% elif contribution.media_package_generated_status == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Error generating the media package"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Media package not generated"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.sent_to_opencast_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Sent to Opencast"><i class="fas fa-check"></i
></span>
{% elif contribution.sent_to_opencast_status == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Error sending to Opencast"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Not sent to Opencast"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.opencast_ready_for_cutting_status %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Ready for cutting"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Not ready for cutting"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.opencast_processing_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast processing finished"><i class="fas fa-check"></i
></span>
{% elif contribution.opencast_processing_status == "WAITING" %}
<span class="badge badge-warning with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Waiting for Opencast"><i class="fas fa-clock"></i
></span>
{% elif contribution.opencast_processing_status == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast returned an error"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Not processed by Opencast"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.e_agreement_status == "ACCEPTED" or
      contribution.e_agreement_status == "FORCED" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Agreement accepted"><i class="fas fa-check"></i
></span>
{% elif contribution.e_agreement_status == "DECLINED" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Agrement declined"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Agreement not signed"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.opencast_acls_requested_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast ACLs update requested"><i class="fas fa-check"></i
></span>
{% elif contribution.opencast_acls_requested_status == "WAITING" or
contribution.opencast_acls_requested_status == "PENDING" %}
<span class="badge badge-warning with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="ACLs waiting for Opencast to finish"><i class="fas fa-clock"></i
></span>
{% elif contribution.opencast_acls_requested_status == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Error during the ACLs request"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast ACLs update not requested"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.opencast_acls_finished %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast ACLs set"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Opencast ACLs not set"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.transcription_requested_status == None or
      contribution.transcription_requested_status.value == "NOT_REQUESTED" %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Transcription: Not requested"><i class="fas fa-circle"></i
></span>
{% elif contribution.transcription_requested_status.value == "REQUESTING" or
contribution.transcription_requested_status.value == "WAITING" %}
<span class="badge badge-warning with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Transcription: Running"><i class="fas fa-clock"></i
></span>
{% elif contribution.transcription_requested_status.value == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Transcription: Error"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Transcription: OK"><i class="fas fa-check"></i
></span>
{% endif %}
{% if contribution.is_cds_record_requested_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS record requested"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS record not requested"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.is_cds_record_set_prop %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS record created"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS record not created"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.is_cds_subformats_requested_status == "OK" %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS subformats requested"><i class="fas fa-check"></i
></span>
{% elif contribution.is_cds_subformats_requested_status == "ERROR" %}
<span class="badge badge-danger with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="Error requesting CDS subformats"><i class="fas fa-times"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS subformats not requested"><i class="fas fa-circle"></i
></span>
{% endif %}
{% if contribution.is_cds_link_published %}
<span class="badge badge-success with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS link published on Indico"><i class="fas fa-check"></i
></span>
{% else %}
<span class="badge badge-light with-tooltip"
      data-toggle="tooltip"
      data-placement="top"
      title="CDS link not published on Indico"><i class="fas fa-circle"></i
></span>
{% endif %}
