{% macro do_not_transcribe_row(model, do_not_transcribe_form, position) -%}
    {% if model.do_not_transcribe %}
        {% set label = 'danger' %}
        {% set current_value = 'Transcription disabled' %}
        {% set value = 'false' %}
    {% else %}
        {% set label = 'success' %}
        {% set current_value = 'Transcription enabled' %}
        {% set value = 'true' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td style="max-width:400px">
            <strong>Transcription</strong>
            <span class="badge badge-{{ label }}" style="font-size: 1em">{{ current_value }}</span>
        </td>
        <td class="table-{{ label }}"></td>
        <td>
            {%- if model.do_not_transcribe_date %}{{ model.do_not_transcribe_date.strftime('%d-%m-%Y
                %H:%M:%S') }}
            {% endif %}
        </td>
        <td class="text-right">
            <form method="post"
                  action="{{ url_for("custom_admin.admin_actions.actions_blueprint.set_do_not_transcribe_view") }}">
                <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                <input name="do_not_transcribe" type="hidden" value="{{ value }}"/>
                {{ set_do_not_transcribe_form.csrf_token }}
                <button class="btn btn-primary btn_generate_metadata btn-sm custom-xs-button"
                        type="submit"
                        title="Change to {{ title }}">
                    <i class="fa fa-toggle-on"></i>
                </button>
            </form>
        </td>
    </tr>
{%- endmacro %}
{% macro requested_transcription_row(model, contribution_id_form, position) %}
    {% set error_message = model.transcription_requested_error_message %}
    {% if model.transcription_requested_status.value == "COMPLETED" %}
        {% set label = 'success' %}
    {% elif model.transcription_requested_status.value == "ERROR" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = 'default' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span>
        </td>
        <td>
            <strong>Request Transcription to TTAAS</strong>
            {% if model.transcription_media_id %}({{ model.transcription_media_id }}){% endif %}
            <i class="fa fa-robot" title="Automatic step"></i>
        </td>
        <td class="table-{{ label }}">
            <span class="badge badge-{{ label }}"
                  title="{{ error_message }}"
                  class="badge badge-light with-tooltip"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Transcription not requested">
                {% if model.transcription_requested_status %}
                    {{ model.transcription_requested_status.value }}
                {% else %}
                    -
                {% endif %}
            </span>
        </td>
        <td>
            {%- if model.transcription_requested_date %}{{ model.transcription_requested_date.strftime('%d-%m-%Y
                %H:%M:%S') }}
            {% endif %}
        </td>
        <td class="text-right">
            {% if model.do_not_transcribe %}
                <span class="badge badge-danger" style="font-size: 1em">Disabled</span>
            {% else %}
                <form id="contact-form"
                      method="post"
                      action="{{ url_for("custom_admin.admin_actions.actions_blueprint.request_transcription_view") }}">
                    <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                    {{ contribution_id_form.csrf_token }}
                    <button {{ "" if model.can_request_transcription else "disabled" }} type="submit" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i>
                </button>
            </form>
        {% endif %}
    </td>
</tr>
{% endmacro %}
{% macro opencast_transcription_update_row(model, contribution_id_form, position) %}
    {% if model.transcription_update_status.value == "Completed" %}
        {% set label = 'success' %}
    {% elif model.transcription_update_status.value == "Error" %}
        {% set label = 'danger' %}
    {% else %}
        {% set label = '' %}
    {% endif %}
    <tr class="table-{{ label }}">
        <td></td>
        <td>
            <span class="badge badge-light badge-pill">{{ position }}</span> <strong>Update data.json with transcriptions</strong> <i class="fa fa-robot" title="Automatic step"></i>
        </td>
        <td>
            <span class="badge badge-{{ label }}"
                  title="{{ model.transcription_update_error_message }}">
                {% if model.transcription_update_status.value %}
                    {{ model.transcription_update_status.value }}
                {% else %}
                    -
                {% endif %}
            </span>
        </td>
        <td>
            {%- if model.transcription_update_date %}{{ model.transcription_update_date.strftime('%d-%m-%Y
                %H:%M:%S') }}
            {% endif %}
        </td>
        <td class="text-right">
            {% if model.do_not_transcribe %}
                <span class="badge badge-danger" style="font-size: 1em">Disabled</span>
            {% else %}
                <form id="contact-form"
                      method="post"
                      action="{{ url_for("custom_admin.admin_actions.actions_blueprint.request_transcription_update_rundeck_view") }}">
                    <input name="contribution_id" type="hidden" value="{{ model.id }}"/>
                    {{ contribution_id_form.csrf_token }}
                    <button type="submit" {{ "" if model.can_update_opencast_transcription else "disabled" }} class="btn btn-primary btn-sm btn_request_transcription_update_rundeck_{{ model.id }} btn_generate_metadata custom-xs-button" title="Update Opencast Transcription"><i class="fa fa-upload"></i>
                </button>
            </form>
        {% endif %}
    </td>
</tr>
{% endmacro %}
