.container.loginbox {
    width: 500px;
    background: white;
    height: 300px;
    text-align: center;
    margin-top : 10%;
    border-radius: 10px;
    box-shadow: 0 10px 40px -14px
}

.loginbox h3 {
    font-size: 2.5em;
}

.loginbox div {
    margin-top: 10%;
}


.login_button a {
    color : #ffffff;

}

body{
    background-color: rgb(242,242,242);
}

.login_button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2em;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 1em 3em;
    background-size: 200% auto;
    box-shadow: 0 10px 40px -14px;
    background-image: linear-gradient(to right, #514A9D 0%, #24C6DC 60%);
    transition: 0.6s;

}

.login_button:hover {
    background-position: right center;
    text-decoration: none;
    color: white
}