body {
    position: relative;
    color: #333;
    padding-top: 40px;
    margin: 0;
}


@media (max-width: 767px){
    div.ne_col_center {
        text-align: center;
        border: 0 !important;
    }

    [class^="col-xs-"],[class*=" col-xs-"]{
        text-align: center;
        padding-top: 15px;
        border: 0
    }

    .form-control-event {
        text-align: center;
        width: 200px;
        display: inline-block;
        padding-top: 10px;

    }

}


@media (max-width: 991px ){
    div.center-sm {
        text-align: center;
        border: 0;
        padding-top: 15px;
    }

    .form-control-event.center-sm {

        width: 200px;
        display: inline-block;
        padding-top: 10px;
        margin-left: 20px;
        float: None;
        text-align: center;
    }

    div.player-output-monitor {
        margin: 10px 0;
        text-align: center;
        width: 100%;
}

}


@media (min-width: 992px ){

    div.player-output-monitor {
        margin: 10px 0;
        text-align: center;
        width: 50%;
}

}

@media (min-width: 768px){
    .form-control-event {
        text-align: right;
        width: 200px;
        display: inline-block;
        padding-top: 10px;
        margin-left: 20px;
        float: right;
    }

}

  .form-control-test {
        width: 200px;
        text-align: right;
        display:inline-block;
        padding-top: 2px;
    }



#header {

    padding: 5px 0;
    color: #ffffff;
    background: #229ac7;
}

img.logo {
    margin-left: 10px;
}
img.user {
    width: 18px;
    margin: 0 3px 3px 0;
}

#container {
    padding: 20px 0;
}

#alertbox-container {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 100;
}
#alertbox {
    width: 60%;
    margin: 0 auto;
}
#alertbox-title {
    padding-left: 15px;
}
#alertbox-text {
    padding-left: 5px;
    padding-right: 15px;
}
.title-colored {
    color: #0088CC;
    vertical-align:middle;
}

.zero_found {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

/*   MODAL-LOADER   ******************************/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loader {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loader {
    display: block;
}

/*   BOOTSTRAP OVERRIDES   ******************************/

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

hr {
    margin: 10px 0;
}
hr.dark {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #AAA;
}
.form-horizontal .control-group {
    margin-bottom: 15px;
}
.form-horizontal .control-label {
    width: 130px;
    font-size: 12px;
}
.form-horizontal .controls {
    margin-left: 150px;
}
.form-horizontal input+.help-block, .form-horizontal select+.help-block, .form-horizontal textarea+.help-block, .form-horizontal .uneditable-input+.help-block, .form-horizontal .input-prepend+.help-block, .form-horizontal .input-append+.help-block {
    margin-top: 3px;
    font-size: 12px;
}

.form-control-roomencoder {
    min-width: 0;
    width: 20%;
    font-size: 50px;
}

.form-actions {
    margin-top: 0;
}
.help-block-small {
    font-size: 10px;
}

.modal .modal-body {
    top: 5%;
    max-height: 600px;
    overflow-y: auto;
}

div.player-output {
    margin: 10px 0;
    text-align: center;
}

.nav>li>a.visible_ok {
    color: #20e077;
    font-weight: bold;
}
.nav>li>a.visible_alert {
    color: #e3363e;
    font-weight: bold;

    animation-name: error_blinker;
    animation-duration: 1s;
    animation-timing-function: alternate;
    animation-iteration-count: infinite;

    -webkit-animation-name: error_blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: alternate;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes error_blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes error_blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes error_blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/*   TEST BAR   ******************************/

#test-instance {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

/*   NEXT EVENTS   ******************************/

div.ne_test_program_left {
    text-align: center;
}
div.ne_test_program_left span.label {
    margin-top: 5px;
    padding: 4px 20px;
}
div.ne_test_program_desc {
    margin: 6px 0 0 20px;
}

div.ne_test_program_desc .col-xs-2 {
    margin: 6px 0 0 20px;
    text-align: center;
}


div.ne_title {
    margin: 30px 0 10px 0;
}
div.ne_title_btns {
    margin-top: 8px;
}
div.ne_title_btns button, div.ne_title_btns input {
    margin-top: 5px;
}
#btn_ne_refetch_all_events {
    margin-left: 20px;
}


div.ne_col_left {
    text-align: center;
}
div.ne_col_left .event_descr {
    font-size: 12px;
}
div.ne_col_left .event_id {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
}

div.ne_col_left span.label {
    padding: 3px 10px;
}
div.ne_col_left .services_requested {
    font-size: 12px;
    margin-top: 10px;
    line-height: 12px;
    font-weight: bold;
}

div.ne_col_center {
    padding-left: 10px;
    padding-right: 10px;
}


div.ne_col_center .event_datetime {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}
div.ne_col_center .event_datetime_time{
    font-size: 22px;

}
div.ne_col_center .event_datetime_timezone {
    font-size: 12px;
    color: #666;
}
div .event_title {
    margin-top: 5px;
    font-size: 18px;
    font-style: oblique;
    color: #3c3c3c;
}

div .stop_time {
    margin-top: 5px;
    font-size: 14px;
    font-style: oblique;
    color: #db5757;
}

.title {

    font-size: 14px;
    font-weight: 200;
    color: #9b9b9b;
    margin-bottom: 5px;
    margin-right: 10px;
    display: inline-block;
    vertical-align:middle;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
}

.text-center {
   text-align:center;
}

div .btn_toggle_event {
    width: 110px;
}

div.ne_col_right .btn_splitting {
    margin-bottom: 10px;
    width: 110px;
}

div.ne_col_right .btn_monitor {
    margin-bottom: 10px;
}

/*   OUTPUTS   ******************************/
div.players {
    padding-top: 15px;
}

.green, .green a {
  color: #19A666;
}
.red, .red a {
  color: #C20836;
}

.white, .white a {
    color: #FFFFFF;
}

/*  ICONS SETTINGS  ******************************/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e900";
    font-size: 2em;
    vertical-align:middle;
}
.icon-film:before {
	content: "\e901";

}
.icon-video-camera:before {
	content: "\e902";
    font-size: 2em;
    vertical-align:middle;
}

.icon-eye:before {
	content: "\e907";
    font-size:1.2em;
    vertical-align:middle;
}
.icon-play2:before {
	content: "\e903";
    font-size:1.2em;
    vertical-align:middle;
}
.icon-pause:before {
	content: "\e904";
    font-size:1.2em;
    vertical-align:middle;
}
.icon-stop:before {
	content: "\e905";
    font-size:1.2em;
    vertical-align:middle;
}
.icon-previous:before {
	content: "\e908";
}
.icon-next:before {
	content: "\e909";
}
.icon-backward:before {
	content: "\e90a";
}
.icon-forward2:before {
	content: "\e906";
}


/*  STOP / START CUSTOM BUTTONS ******************************/


.btn-stop {
    margin-bottom: 10px;
    color: #fff;
    background-color: #c30836;
    border-color: #af0833;
}
.btn-stop:hover, .btn-stop:active, .btn-stop:active {
    color: #fff;
    background-color: #a5082e;
    border-color: #910826;
}


.btn-start {
    color: #fff;
    background-color: #1aa563;
    border-color: #179158;
}

.btn-start:hover, .btn-start:active, .btn-start:focus  {
    color: #fff;
    background-color: #19872d;
    border-color: #167345;
}

.well-running {
    background-color: #e9e9e9;
    border: 1px solid #c7c8c7;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.fixed-row {
    min-width: 240px;
}

.middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.running_fmle {
    color: #5e5e5e;
    text-align: right;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: #6b6b6b;
    background-image: linear-gradient(to right, #ccc, #727272, #ccc);
}

.stream_name {
    color: #5e5e5e;
    margin-bottom: 10px;
}

#encoder_details {
    padding: 50px;
    display: none;
}


#encoder_info{
    margin: 10px 0px 10px;
    display: inline-block;
    border:1px solid #ABABAB;
    color: #707070;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 10px;
    padding: 5px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #FCFCFC;
}
.encoder_info:active, #encoder_info button:hover{
     border:1px solid #969696;
     color: #000000;
     background-color: #E8E8E8;
     outline-style: none;
}

.flashes {
    margin-top: 3%;
    width: 50%;
    list-style: none;
}


#disk_space{
    color: #8c8c8c;
}

.tooltip {
  pointer-events: none;
}

