{% extends "admin/master.html" %}
{% block body %}
    <main>
        <div class="py-5 text-center">
            <h2>Recordings Manager Admin</h2>
            <p class="lead">
                This is the Recordings Manager admin page. From here, you can manage the recordings of the webcast and
                video conference services.
            </p>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">System info</span>
                    <span class="badge bg-light rounded-pill"><i class="fa fa-info-circle"></i> </span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Hostname</h6>
                            <small class="text-muted">{{ instance_hostname }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Opencast</h6>
                            <small class="text-muted">{{ opencast_endpoint }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">CERN Media</h6>
                            <small class="text-muted">{{ cernmedia_endpoint }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">CDS</h6>
                            <small class="text-muted">{{ cds_endpoint }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Indico</h6>
                            <small class="text-muted">{{ indico_endpoint }}</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Database</h6>
                            <small class="text-muted">{{ db_endpoint }}</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Shortcuts</h4>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card border-primary mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Indico Contributions</h5>
                                <p class="card-text">
                                    Handle the workflow of the recordings and visualize the current
                                    statuses.
                                </p>
                                <a href="{{ url_for("indicoeventcontribution.index_view") }}"
                                   title="Go to indico contributions list"><i class="fa fa-chevron-right"></i> Go to Contributions list</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Indico Events</h5>
                                <p class="card-text">Visualize if events are running or have been recorded.</p>
                                <a href="{{ url_for("indicoevent.index_view") }}"
                                   title="Go to indico events list"><i class="fa fa-chevron-right"></i> Go
                                to Indico events list</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-3">Disk space</h4>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="progress">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {{ (used_space/total_space)*100 }}%"
                                         aria-valuenow="25"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <p class="card-text"></p>
                                <ul>
                                    <li>
                                        <strong>Total</strong>: {{ total_space }} GB
                                    </li>
                                    <li>
                                        <strong>Used</strong>: {{ used_space }} GB
                                    </li>
                                    <li>
                                        <strong>Free</strong>: {{ free_space }} GB
                                    </li>
                                </ul>
                                <form method="post"
                                      action="{{ url_for("custom_admin.forms.blueprints.free_disk_form_handle") }}"
                                      class="mb-3">
                                    {{ form.csrf_token }}
                                    <div class="form-group">{{ form.since.label }}{{ form.since(class="form-control") }}</div>
                                    <input class="btn btn-primary" type="submit" value="Remove them">
                                </form>
                                <div class="alert alert-light" role="alert">
                                    <i class="fa fa-info"></i> Every 6 hours,
                                    all the content in "/downloads" older than 7 days is removed automatically.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="mb-3">Settings</h4>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text"></p>
                                <form method="post"
                                      action="{{ url_for("custom_admin.forms.blueprints.settings_form_handle") }}"
                                      class="mb-3">
                                    {{ settings_form.csrf_token }}
                                    <div class="form-check">
                                        {{ settings_form.enable_ravem_notifications(class="form-check-input") }}
                                        <label class="form-check-label" for="enable_ravem_notifications">
                                            {{ settings_form.enable_ravem_notifications.label }}
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        {{ settings_form.enable_webcast_website_notifications(class="form-check-input") }}
                                        <label class="form-check-label" for="enable_webcast_website_notifications">
                                            {{ settings_form.enable_webcast_website_notifications.label }}
                                        </label>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Save settings">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "admin/index_parts/metrics.html" %}
            </div>
        </div>
    </main>
{% endblock body %}
