@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?40mb5c');
	src:url('fonts/icomoon.eot?40mb5c#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?40mb5c') format('truetype'),
		url('fonts/icomoon.woff?40mb5c') format('woff'),
		url('fonts/icomoon.svg?40mb5c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e900";
}
.icon-film:before {
	content: "\e901";
}
.icon-video-camera:before {
	content: "\e902";
}
.icon-eye:before {
	content: "\e907";
}
.icon-play2:before {
	content: "\e903";
}
.icon-pause:before {
	content: "\e904";
}
.icon-stop:before {
	content: "\e905";
}
.icon-previous:before {
	content: "\e908";
}
.icon-next:before {
	content: "\e909";
}
.icon-backward:before {
	content: "\e90a";
}
.icon-forward2:before {
	content: "\e906";
}

