<h4 class="mb-3">Stats</h4>
<form method="post" action="{{ url_for("admin.index") }}" class="mb-3">
    {{ metrics_form.csrf_token }}
    <div class="form-group">
        {{ metrics_form.selected_year.label }}{{ metrics_form.selected_year(class="form-control") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Show stats">
</form>
<h5>Equipment</h5>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.total_rooms_count }}</h5>
                <p class="card-text">Rooms</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.total_encoders_count }}</h5>
                <p class="card-text">Encoders</p>
            </div>
        </div>
    </div>
</div>
<h5>Media package types</h5>
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.using_smb_count }}</h5>
                <p class="card-text">SMB</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.using_zoom_count }}</h5>
                <p class="card-text">Zoom</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.using_url_count }}</h5>
                <p class="card-text">Other URLs</p>
            </div>
        </div>
    </div>
</div>
<h5>Opencast</h5>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.sent_to_opencast_count }}</h5>
                <p class="card-text">Sent to Opencast</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.cut_on_opencast_count }}</h5>
                <p class="card-text">Cut on Opencast</p>
            </div>
        </div>
    </div>
</div>
<h5>Events</h5>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.published_cds_link_indico_count }}</h5>
                <p class="card-text">Published on Indico (CDS)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ metrics.published_video_player_link_indico_count }}</h5>
                <p class="card-text">Published on Indico (Video Player)</p>
            </div>
        </div>
    </div>
</div>
